
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="robots" content="nofollow" />
    <title>管理员登录</title>
    <script>if (self != top) { top.location.href = self.location.href; }</script>
    <link href="/_/login/style.css" rel="stylesheet" />
    <link href="/_/login/body.css" rel="stylesheet" />
    <link href="/_/layui/css/modules/layer/default/layer.css" rel="stylesheet" id="layuicss-layer" />
</head>
<body>
    <div class="container">
        <section id="content" style="margin-top:150px;">
            <form id="login-form">
                <h2>SQL Online 管理平台</h2>
                <div style="height:16px;"></div>
                <div>
                    <input type="text" placeholder="请输入用户名" value="admin" name="username" maxlength="20" required="" id="username">
                </div>
                <div>
                    <input type="password" placeholder="请输入密码" value="12345" name="password" maxlength="20" required="" id="password">
                </div>
                <div>
                    <input type="number" placeholder="请输入验证码" name="vcode" maxlength="4" min="1000" max="9999" maxlength="4" required="" id="vcode">
                    <img alt="验证码" style="cursor:pointer;" src="@Url.Action("VerifyCode")" id="vcode-img" />
                </div>
                <div>
                    <span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>
                </div>
                <div style="clear:both;"></div>
                <div>
                    <label for="rememberMe" style="padding-left:10px;">初始账号为admin,密码为12345</label>
                </div>
                <div style="clear:both"></div>
                <div>
                    <input type="button" value="登 录" onclick="login()" id="js-btn-login">
                </div>
            </form>
            <div class="button">
                <span>
                    Copyright &copy; 2017
                    <a href="http://www.somain.cn" target="_blank">SoMian.cn</a>
                    All Rights Reserved.
                </span>
            </div>
        </section>

    </div>

    <script src="/_/js/jquery.min.js"></script>
    <script src="/_/layui/lay/modules/layer.js"></script>
    <script src="/_/login/rsapost.js"></script>
    <script src="/_/js/global.js"></script>
    <script>
        var _index_loading; //加载中层

    $(function () {
        $("input[name=username]").keyup(function (key) { if (key.keyCode == 13) { $("input[name=password]").focus(); } });
        $("input[name=password]").keyup(function (key) { if (key.keyCode == 13) { $("input[name=vcode]").focus(); } });
        $("input[name=vcode]").keyup(function (key) { if (key.keyCode == 13) { login(); } });
        $("#vcode-img").click(function () {
            var url = "@Url.Action("VerifyCode")?r=" + Math.random();
            $(this).attr("src", url);
        });
    });
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }
    function login() {
        initRsa("@ViewData["e"]", "@ViewData["m"]");
        if ($("#username").val().length < 3) { layer.alert("请输入用户名"); return; }
        if ($("#password").val().length < 3) { layer.alert("请输入密码"); return; }
        if ($("#vcode").val().length < 4) { layer.alert("请输入验证码"); return; }

        _index_loading = layer.load(1);
        rsaPost("/home/Login", $("#login-form").serialize(), { _t: new Date().valueOf() }, function (r) {
            layer.close(_index_loading);
            if (r.code == @SuccessCode) {
                MessageSuccess("登录成功,即将跳转,耐心等候.", function () {
                    location.href = "/admin/";
                });
            } else {
                ShowAlert(r.msg);
                var url = "@Url.Action("VerifyCode")?r=" + Math.random();
                $("#vcode-img").attr("src", url);
            }
        }, function () {
            ShowAlert("登录失败,无法连接！");
        });
        }
        function MessageSuccess(msg, callBack) {
            MessageAlert(msg, '成功', 1, callBack);
        }
        function MessageAlert(msg, title, icon, callBack) {
            layer.msg(msg, {
                title: title,
                icon: icon,
                time: 2000 //2秒关闭（如果不配置，默认是3秒）
            }, function (index) {
                callBack && callBack();
                layer.close(index);
            });

        }

    </script>
    <div style="display:none">@(ViewData["_test_monitor"]?.ToString().ToHtml())</div>
</body>
</html>
