@using ToolGood.TransDto.Admins;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/SqlQuery/Views/Shared/_Layout.cshtml";
    var topMenus = ViewData["topMenu"] as List<TopAdminMenu>;
    var trees = ViewData["trees"] as List<ServerTreeDto>;
}
<style>
    .logo { color: #EEE; -webkit-transition: none; -o-transition: none; transition: none; -webkit-transition: width 0.3s ease-in-out; -o-transition: width 0.3s ease-in-out; transition: width 0.3s ease-in-out; display: block; float: left; height: 50px; font-size: 28px; line-height: 50px; width: 230px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; overflow: hidden; }
    ul.layui-nav-tree li { color: rgba(255,255,255,.7); }
        ul.layui-nav-tree li a { color: rgba(255,255,255,.7); }
            ul.layui-nav-tree li a:hover { color: rgb(255, 255, 255); }
            ul.layui-nav-tree li a:hover i { color: rgb(255, 255, 255); }
        ul.layui-nav-tree li i { color: rgba(255,255,255,.7); }
    .layui-side-scroll, .layui-nav-tree { width: 100% }
</style>
<form id="formIndex">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header header ">
            <div class="layui-main">
                <div class="logo">
                    <span class="logo-lg"><b>SQL</b> Online</span>
                </div>
                <ul class="layui-nav" pc="" id="top_Menu">
                    @foreach (var item in topMenus) {
                        if (string.IsNullOrEmpty(item.Url)) {
                            if (item.Activity) {
                                <li class="layui-nav-item"><a href="/admin/?mid=@item.Id" data-id="@item.Id" class="layui-this">@item.Name</a></li>
                            } else {
                                <li class="layui-nav-item"><a href="/admin/?mid=@item.Id" data-id="@item.Id">@item.Name</a></li>
                            }
                        } else {
                            if (item.Activity) {
                                <li class="layui-nav-item"><a href="@item.Url" data-id="@item.Id" class="layui-this">@item.Name</a></li>
                            } else {
                                <li class="layui-nav-item"><a href="@item.Url" data-id="@item.Id">@item.Name</a></li>
                            }
                        }
                    }
                </ul>

                <div class="useroption">
                    你好！@Admin.TrueName |
                    <a href="/admin/Home/ChangePassword?w=500&h=350" class="openwin" title="修改密码">修改登录密码</a> |
                    <a href="/" title="退出登录">退出</a>
                </div>
            </div>
        </div>
        <div id="box">
            <div id="line" class="layui-side" style="width:5px;height:100%;cursor:w-resize;left:200px;"></div>
            <div id="box-left" class="layui-side layui-bg-black">
                <div class="layui-side-scroll" style="background-color: rgba(0,0,0,.3) !important;">
                    <ul class="layui-nav layui-nav-tree" id="databases"></ul>
                </div>
            </div>

            <div id="box-right" class="layui-body" style="bottom:0; ">
                <div class="layui-tab" lay-allowclose="true" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title"></ul>
                    <div class="layui-tab-content index">
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
@section js{
    <link href="/_/css/basicContext.min.css" rel="stylesheet" />
    <script src="/_/js/basicContext.min.js"></script>
    <script src="/_/layui/lay/modules/tree.js"></script>
    <script>
        $(function () {
            var src_posi_X = 0, is_mouse_down = false;
            $("#line").mousedown(function (e) { src_posi_X = e.pageX; is_mouse_down = true; });
            $(document).bind("click mouseup", function (e) {
                if (is_mouse_down) { is_mouse_down = false; }
            }).mousemove(function (e) {
                if (is_mouse_down) {
                    var dest_posi_X = e.pageX;
                    var move_X = src_posi_X - dest_posi_X;
                    src_posi_X = dest_posi_X;
                    var destWidth = $("#box-left").width() - move_X;
                    $("#box-left").css("width", destWidth);
                    $("#line").css("left", (destWidth) + "px");
                    $("#box-right").css("left", (destWidth) + "px");
                }
            });
        });
    </script>

    <script>
        var currentNode = {};
        var index = 1;
    $(function () {
        layui.tree({
            elem: '#databases' //传入元素选择器
            , nodes: @(trees.ToJson())
            , click: function (node,e) {
                if (node.isTable) {
                    currentNode = node;
                    let items = [
                        { title: '新建查询', icon: 'fa fa-file-o', fn: newQuery },
                        {},
                        { title: '查询前200行', icon: 'fa fa-file-text-o', fn: selectList200 },
                    ]
                    basicContext.show(items, e);
                }
            }
        });
        function newQuery() {
            var id = new Date().valueOf();
            var name = "SqlQuery-" + index;
            var url = "/SqlQuery/Main/NewQuery?serverName=" + encodeURI(currentNode.serverName) + "&databaseName=" + encodeURI(currentNode.databaseName);
            insertAddTab(id, name, url);
            index++;
        }
        function selectList200() {
            var id = new Date().valueOf();
            var name = "SqlQuery-" + index;
            var url = "/SqlQuery/Main/SelectList200?serverName=" + encodeURI(currentNode.serverName) + "&databaseName=" + encodeURI(currentNode.databaseName) + "&tableName=" + encodeURI(currentNode.tableName) ;
            insertAddTab(id, name, url);
            index++;
        }



    });
    </script>
}

