
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_Detail.cshtml";
    var menus = (List<DbAdminMenu>)ViewData["menus"];
    var showMenu = new List<DbAdminMenu>();
    foreach (var item in menus.Where(q => q.ParentId == 0).OrderBy(q => q.Sort)) {
        showMenu.Add(item);
        foreach (var item2 in menus.Where(q => q.ParentId == item.Id).OrderBy(q => q.Sort)) {
            item2.Name = "┣ " + item2.Name;
            showMenu.Add(item2);
        }
    }

    DbAdminMenu menu = (DbAdminMenu)ViewData["menu"];
    var actionNames = menu.Actions.Split('|').ToList();
}
@section js{
    <script>
        $(function () {
            $("#edit-form").validate({
                rules: {
                    name: "required",
                    code: "required",
                    sort: "required number",
                },
            });
        });

        function save(obj) {
           //if ($("#edit-form").valid() == false) return;

            $(obj).prop("disabled", true);
            PostUrl("", $("#edit-form").serialize(), function (data) {
                if (data.code == @SuccessCode) {
                    ReloadAndClose();
                } else {
                    layer.alert(data.msg);
                }
                $(obj).prop("disabled", false);
            });
        }
    </script>
}

<form class="layui-form" id="edit-form" action="" style="margin:15px;">
    <input type="hidden" value="@menu.Id" name="id" />
    <div class="layui-form-item">
        <label class="layui-form-label">上级目录</label>
        <div class="layui-input-block">
            <select name="interest" lay-filter="aihao">
                <option value="0">根目录</option>
                @showMenu.ToOption(q => q.Name, q => q.Id.ToString(),menu.ParentId.ToString())
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">菜单名</label>
        <div class="layui-input-block">
            <input name="name" id="txt_name" lay-verify="title" autocomplete="off" placeholder="请输入菜单名" class="layui-input" type="text" value="@menu.Name">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Code</label>
        <div class="layui-input-block">
            <input name="code" id="txt_code" lay-verify="title" autocomplete="off" placeholder="请输入Code" class="layui-input" type="text" value="@menu.Code">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">链接地址</label>
        <div class="layui-input-block">
            <input name="url" id="txt_url" lay-verify="title" autocomplete="off" placeholder="请输入链接地址" class="layui-input" type="text" value="@menu.Url">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input name="sort" id="txt_sort" value="@menu.Sort" lay-verify="title" autocomplete="off" placeholder="请输入排序" class="layui-input" type="text" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">操作权限</label>
        <div class="layui-input-block">
            @foreach (var item in ActionPermission.GetAllActions()) {
                <input name="actions" value="@item.Key" lay-skin="primary" title="@item.Value" type="checkbox"  @(actionNames.Contains(item.Key) ? "checked" : "")>
            }
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" onclick="save(this);">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
 

