@using ToolGood.Infrastructure;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_List_Async.cshtml";

    List<DbAdminMenu> menus = (List<DbAdminMenu>)ViewData["menus"];
    var pMenu = menus.Where(q => q.ParentId == 0).ToList();
}
<a href="/admin/menu/add?w=550" title="添加新菜单" class="layui-btn layui-btn-default layui-btn-sm openwin"> 添加</a>
<a href="javascript:saveItem();" class="layui-btn layui-btn-default layui-btn-sm "><i class="fa fa-save"></i> 保存排序</a>
<hr />
<div class="layui-form">
    <form id="edit-form">
        <table class="layui-table">
            <thead style="text-align:center;font-weight:700;">
                <tr>
                    <th>菜单名</th>
                    <th>Code</th>
                    <th>权限</th>
                    <th>排序</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pitem in pMenu) {
                    <tr style="color:blue;">
                        <td>@pitem.Name</td>
                        <td>@pitem.Code</td>
                        <td>
                            @foreach (var actionName in pitem.Actions.Split('|')) {
                                <span>@ActionPermission.GetActionName(actionName) &nbsp;</span>
                            }
                        </td>
                        <td style="text-align:left;">
                            <input type="hidden" name="ids[]" value="@pitem.Id" />
                            <input type="text" name="sorts[]" value="@pitem.Sort" style="width:40px;color:blue;" />
                        </td>
                        <td style="text-align:center;">
                            <a href="/admin/menu/Edit?id=@pitem.Id&w=550" title="编辑菜单" class="layui-btn layui-btn-sm openwin"> 编辑</a>
                            &nbsp;&nbsp;&nbsp;
                            <a href="javascript:deleteItem(@pitem.Id,'@pitem.Name')"  class="layui-btn layui-btn-sm"> 删除</a>
                        </td>
                    </tr>
                    foreach (var item in menus.Where(q => q.ParentId == pitem.Id).OrderBy(q => q.Sort)) {
                        <tr>
                            <td>&nbsp;&nbsp;@item.Name</td>
                            <td>@item.Code</td>
                            <td>
                                @foreach (var actionName in item.Actions.Split('|')) {
                                    <span>@ActionPermission.GetActionName(actionName) &nbsp;</span>
                                }
                            </td>
                            <td style="text-align:left;">
                                <input type="hidden" name="ids[]" value="@item.Id" />
                                <input type="text" name="sorts[]" value="@item.Sort" style="width:40px;" />
                            </td>
                            <td style="text-align:center;">
                                <a href="/admin/menu/Edit?id=@item.Id&w=550" title="编辑菜单"  class="layui-btn layui-btn-sm openwin"> 编辑</a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="javascript:deleteItem(@item.Id,'@item.Name')"  class="layui-btn layui-btn-sm"> 删除</a>
                            </td>
                        </tr>
                        foreach (var item2 in menus.Where(q => q.ParentId == item.Id).OrderBy(q => q.Sort)) {
                            <tr>
                                <td>&nbsp;&nbsp;┣ @item2.Name</td>
                                <td>@item2.Code</td>
                                <td>
                                    @foreach (var actionName in item2.Actions.Split('|')) {
                                        <span>@ActionPermission.GetActionName(actionName) &nbsp;</span>
                                    }
                                </td>
                                <td style="text-align:left;">
                                    <input type="hidden" name="ids[]" value="@item2.Id" />
                                    ┣ <input type="text" name="sorts[]" value="@item2.Sort" style="width:40px;" />
                                </td>
                                <td style="text-align:center;">
                                    <a href="/admin/menu/Edit?id=@item2.Id&w=550" title="编辑菜单" class="layui-btn layui-btn-sm openwin"> 编辑</a>
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="javascript:deleteItem(@item2.Id,'@item2.Name')" class="layui-btn layui-btn-sm"> 删除</a>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </form>
</div>

@section js{
    <script>
        function deleteItem(id, name) {

            layer.confirm('删除菜单【' + name + "】吗？", function (index) {
                layer.close(index);
                PostUrl("/admin/Menu/Delete", { id: id }, function (data) {
                    if (data.code == @SuccessCode) {
                        location.reload();
                    } else {
                        layer.alert(data.msg);
                    }
                });
            })
        }
        function saveItem() {
            PostUrl("/admin/Menu/AdminMenuChangeSort", $("#edit-form").serialize(), function (data) {
                if (data.code == @SuccessCode) {
                    location.reload();
                } else {
                    layer.alert(data.msg);
                }
            });
        }
    </script>
}
