
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_List_Async.cshtml";
    var adminList = (List<DbAdmin>)ViewData["adminList"];
}
@section js{
    <script>
        function deleteItem(id, name) {

            layer.confirm('删除管理员【' + name + "】吗？", function (index) {
                layer.close(index);
                PostUrl("/admin/member/Delete", { id: id }, function (data) {
                    if (data.code == @SuccessCode) {
                        location.reload();
                    } else {
                        layer.alert(data.msg);
                    }
                });
            })
        }
    </script>
}
<a href="/admin/member/add?w=500&h=380" title="添加管理员" class="layui-btn layui-btn-default layui-btn-sm openwin"> 添加</a>
 <hr />
<div class="layui-form">
    <form>
        <table class="layui-table">
            <thead style="text-align:center;font-weight:700;">
                <tr>
                    <th style="text-align:center">ID</th>
                    <th style="text-align:center">用户名</th>
                    <th style="text-align:center">真实姓名</th>
                    <th style="text-align:center">角色名</th>
                    <th style="text-align:center">添加时间</th>
                    <th width="220"  style="text-align:center">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in adminList) {
                    <tr style="text-align:center;">
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.TrueName</td>
                        <td>@item.AdminGroupName</td>
                        <td>@item.AddingTime.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>
                            <a href="/admin/member/Edit?id=@item.Id&w=500&h=300" title="编辑管理员" class="layui-btn layui-btn-default layui-btn-sm openwin">
                                 编辑
                            </a>
                            &nbsp;&nbsp;
                            <a href="/admin/member/AdminChangePassword?id=@item.Id&w=500&h=300" title="修改密码" class="layui-btn layui-btn-default layui-btn-sm openwin">
                                 修改密码
                            </a>
                            &nbsp;&nbsp;
                            <a href="javascript:deleteItem(@item.Id,'@item.TrueName');" class="layui-btn layui-btn-sm layui-btn-default ">
                                <i class="fa fa-remove"></i> 删除
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>
